<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.watchface" android:installLocation="auto">
	<uses-sdk />
	<uses-feature android:name="android.hardware.type.watch" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:label="Boomerang.Wear" android:theme="@android:style/Theme.DeviceDefault"></application>
</manifest>